.slidecontainer {
    width: 95%;
    margin-left: auto;
    margin-right: auto;
}
  
.slider {
-webkit-appearance: none;
width: 100%;
height: 15px;
border-radius: 5px;
background: #d3d3d3;
outline: none;
opacity: 0.7;
-webkit-transition: .2s;
transition: opacity .2s;
}

.slider:hover {
opacity: 1;
}

.slider::-webkit-slider-thumb {
-webkit-appearance: none;
appearance: none;
width: 25px;
height: 25px;
border-radius: 50%;
background: #04AA6D;
cursor: pointer;
}

.slider::-moz-range-thumb {
width: 25px;
height: 25px;
border-radius: 50%;
background: #04AA6D;
cursor: pointer;
}



/* Timeline stuff */
section {
    background: #5451a3;
    padding: 50px 0;
  }
  
  .section .container {
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    text-align: center;
  }
  
  .section h1 {
    font-size: 2.5rem;
  }
  
  .section h2 {
    font-size: 1.3rem;
  }
  
  /* TIMELINE
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .timeline {
    white-space: nowrap;
    overflow-x: scroll;
  }
  
  .timeline ol {
    font-size: 0;
    width: 100vw;
    padding: 250px 0;
    transition: all 1s;
  }
  
  .timeline ol li {
    position: relative;
    display: inline-block;
    list-style-type: none;
    width: 160px;
    height: 3px;
    background: #fff;
  }
  
  .timeline ol li:last-child {
    width: 280px;
  }
  
  .timeline ol li:not(:first-child) {
    margin-left: 14px;
  }
  
  .timeline ol li:not(:last-child)::after {
    content: "";
    position: absolute;
    top: 50%;
    left: calc(100% + 1px);
    bottom: 0;
    width: 12px;
    height: 12px;
    transform: translateY(-50%);
    border-radius: 50%;
    background: #f45b69;
  }
  .timeline ol li:last-child::after {
    content: "";
    position: absolute;
    top: -7.5px;
    left: calc(100% + 0px);
    bottom: 0;
    width: 0px;
    height: 0px;
    border-top: 10px solid transparent;
    border-bottom: 10px solid transparent;
    border-left: 10px solid #fff;
    padding-right: 10px;
    display: inline-block;
  }
  
  .timeline ol li div {
    position: absolute;
    left: calc(100% + 7px);
    width: 300px;
    padding: 15px;
    font-size: 1rem;
    white-space: normal;
    color: black;
    background: white;
    box-shadow: 10px 10px 35px 8px rgba(0,0,0,0.23);
  }
  
  .timeline ol li div::before {
    content: "";
    position: absolute;
    top: 100%;
    left: 0;
    width: 0;
    height: 0;
    border-style: solid;
  }
  
  .timeline ol li:nth-child(odd) div {
    top: -16px;
    transform: translateY(-100%);
  }
  
  .timeline ol li:nth-child(odd) div::before {
    top: 100%;
    border-width: 8px 8px 0 0;
    border-color: white transparent transparent transparent;
  }
  
  .timeline ol li:nth-child(even) div {
    top: calc(100% + 16px);
  }
  
  .timeline ol li:nth-child(even) div::before {
    top: -8px;
    border-width: 8px 0 0 8px;
    border-color: transparent transparent transparent white;
  }
  
  .timeline time {
    display: block;
    font-size: 1.2rem;
    font-weight: bold;
    margin-bottom: 8px;
  }
  
  /* TIMELINE ARROWS
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  
  .timeline .arrows {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
  
  .timeline .arrows .arrow__prev {
    margin-right: 20px;
  }
  
  .timeline .disabled {
    opacity: 0.5;
  }
  
  .timeline .arrows img {
    width: 45px;
    height: 45px;
  }
  
  /* GENERAL MEDIA QUERIES
  –––––––––––––––––––––––––––––––––––––––––––––––––– */
  @media screen and (max-width: 599px) {
    .timeline ol,
    .timeline ol li {
      width: auto;
    }
  
    .timeline ol {
      padding: 0;
      transform: none !important;
    }
  
    .timeline ol li {
      display: block;
      height: auto;
      background: transparent;
    }
  
    .timeline ol li:first-child {
      margin-top: 25px;
    }
  
    .timeline ol li:not(:first-child) {
      margin-left: auto;
    }
  
    .timeline ol li div {
      position: static;
      width: 94%;
      height: auto !important;
      margin: 0 auto 25px;
    }
  
    .timeline ol li:nth-child(odd) div {
      transform: none;
    }
  
    .timeline ol li:nth-child(odd) div::before,
    .timeline ol li:nth-child(even) div::before {
      left: 50%;
      top: 100%;
      transform: translateX(-50%);
      border: none;
      border-left: 1px solid white;
      height: 25px;
    }
  
    .timeline ol li:last-child,
    .timeline ol li:nth-last-child(2) div::before,
    .timeline ol li:not(:last-child)::after,
    .timeline .arrows {
      display: none;
    }
}