.viewport_container {
    display: flex;
    margin: 30px 100px;
    flex-direction: column;
    min-height: 100vw;
}

.background {
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
} 

.screen {
    background-color: white;
    height: 90vh;
    width: 90%;
    margin: 10px 0;
    border: 1px solid black;
    display: flex;
    flex-direction: rows;
}

.search{
    border: 1px solid black;
    width: 30%;
}
.display{
    border: 1px solid black;
    width: 40%;
}
.reader{
    border: 1px solid black;
    width: 30%;
}

.toggle{
    margin: 10px;
    height: 250px;
    border: 1px solid black;
}
.wordSearch{
    margin: 10px;
    height: 250px;
    border: 1px solid black;
}

.displayView{
    margin: 10px;
    height: 600px;
    border: 1px solid black;
}

.readerView{
    margin: 10px;
    height: 250px;
    border: 1px solid black;
}



/* display*/


  
.pattern-container {
    display: flex;
    flex-direction: column;
  }
  
  .row {
    height: 10px; /* Set the height of each row */
  }
  
  .black-row {
    background-color: black; /* Set the background color for the black row */
  }
  
  .white-row {
    background-color: white; /* Set the background color for the white row */
  }
 
  
  
  
  
  