.viewport_container {
    display: flex;
    margin: 30px 100px;
    flex-direction: column;
    min-height: 100vw;
}

.background {
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border: 1px solid black;
}


.search{
    height: 160px;
    min-width: 96%;
    border: 1px solid black;
    width: 30%;
}
.searchPanel{
    min-height: 100%;
    width: 100%;
    border: 1px solid black;
    display: flex;
    flex-direction: rows;
}
.toggle{
    min-height: 100%;
    width: 50%;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}
.wordSearch{
    height: auto;
    width: 50%;
    margin: 10px;
    padding: 10px;
    border: 1px solid black;
}


.displayPanel {
    background-color: white;
    min-height: 70vh;
    width: 96%;
    border: 1px solid black;
    display: flex;
    flex-direction: rows;
    border: 1px solid black;
}
.display{
    min-height: 100%;
    width: 70%;
    padding: 10px;
    border: 1px solid green;
}
.display2{
    min-height: 100%;
    width: 35%;
    padding: 10px;
    border: 1px solid green;
}
.displayView{
    min-height: 100%;
    padding: 10px;
    border: 1px solid blue;
}
.reader{
    min-height: 100%;
    width: 30%;
    display: flex;
    flex-direction: column;
    gap: 10px;
    padding: 10px;
    border: 1px solid red;
}
.readerPanel{
    min-height: 100%;
    display: flex;
    flex-direction: column;
    gap: 2%;
    border: 1px solid red;
}
.readerView{
    min-height: 49%;
    padding: 10px;
    border: 1px solid black;
}



/* display*/


  
.pattern-container {
    display: flex;
    flex-direction: column;
  }
  
  .row {
    height: 10px; /* Set the height of each row */
  }
  
  .black-row {
    background-color: black; /* Set the background color for the black row */
  }
  
  .white-row {
    background-color: white; /* Set the background color for the white row */
  }
 
div.tooltip {
    position: absolute;			
    text-align: center;								
    padding: .5rem;				
    background: #FFFFFF;
    color: #313639;	
    border: 1px solid #313639;		
    border-radius: 8px;			
    pointer-events: none;
    font-size: 1.3rem;			
}