.moreDropdown {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 100%;
    margin-left: -20px;
    margin-right: -40px;
}

.AboutDropdown {
    position: relative;
    display: inline-flex;
    align-items: center;
    height: 100%;
    margin-left: 0px;
    margin-right: 20px;
}

.moreButton {
    width: 134px;
    height: 27px;
    font-family: 'Lexend', sans-serif;
    background: none;
    border: none;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #EDB940;
    padding: 0;
    line-height: 150%;
    transition: color 0.3s ease;
    cursor: pointer;
    white-space: nowrap;
    letter-spacing: 0.1em;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 20px;
    transition: color 0.3s ease;
}

.moreButton:hover,
.moreButton.active {
    color: #ffffff;
}

.moreOptions {
    position: absolute;
    top: 100%;
    left: 0;
    background-color: rgba(128, 128, 128, 0.95);
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.3);
    border-radius: 5px;
    min-width: 180px;
    z-index: 1001;
    display: block;
    padding: 8px 0;
    margin-top: 5px;
}

.open .moreOptions {
    display: block;
    text-align: left;
}

.moreLink {
    display: block !important;
    padding: 8px 15px !important;
    text-decoration: none !important;
    color: #c49c3e !important;
    transition: all 0.3s ease !important;
    text-align: left !important;
    font-size: 18px !important;
    font-weight: 600 !important;
    width: auto !important;
    height: auto !important;
    justify-content: flex-start !important;
    letter-spacing: normal !important;
}

.moreLink.active {
    color: #ffffff !important;
}

.moreLink:hover {
    background-color: rgba(196, 156, 62, 0.2) !important;
    color: #ffffff !important;
}
