.viewport_container {
    display: flex;
    margin: 30px 100px;
    flex-direction: column;
    min-height: 100vw;
}

.table_section {
    display: flex;
    justify-content: center;
    margin: 140px 100px;
}

