.translatorPage {
    max-width: 1440px;
    margin: 0 auto;
}

.heroSection {
    position: relative;
    width: 100%;
    height: 501px; 
    overflow: hidden;
}

.fullBackgroundImage {
    width: 1440px;
    height: 500px;
    background-size: cover;
    background-position: center;
    z-index: 1;
}

.titleOverlay {
    position: absolute;
    top: 50%; 
    left: 50%; 
    transform: translate(-50%, -50%);
    color: white;
    text-align: center;
    font-weight: bold;
    z-index: 2;
    display: flex; 
    flex-direction: column;
    gap: 1em;
    width: 90%; 
    max-height: 100%;
    overflow: hidden;
    font-family: 'Lexend', sans-serif;
}

.nameEnglish {
    font-size: 105px;
    font-style: normal;
    font-weight: 700;
    line-height: 106%;
    letter-spacing: 13.65px;
    word-wrap: break-word;
    text-transform: uppercase;
}

.nameInDescription {
    color: #436875;
    font-family: 'Lexend', sans-serif;
    font-size: 24px;
}

.mainSection {
    display: flex;
    justify-content: space-between;
    margin-bottom: 30px;
    margin-top: auto;
    gap: 30px;
    background-color: #BFAE93;
    padding: 20px 45px 57px 45px;
    border-radius: 10px;
    max-width: 100%;
}

.description {
    flex: 2;
    min-width: 300px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;
}

.descriptionContent {
    line-height: 1.6;
    font-size: 24px;
    font-weight: 800;
    width: 100%;
    text-align: left;
}
.descriptionText {
    line-height: 130%;
    font-weight: 400;
    font-family: 'Lexend', sans-serif;
}

.descriptionText,
.descriptionText * {
  color: #4B4B4B !important;
  font-size: 16px;
}

.translatorList {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  padding: 1rem 0;
}

.articleItem {
  width: 100%;
  padding: 0.5rem 0;
}

.articleLink {
  color: #4B4B4B;
  font-size: 16px;
  font-weight: 800;
  font-family: 'Lexend', sans-serif;
}


.loading {
  font-size: 18px;
  font-weight: 800;
  font-family: 'Lexend', sans-serif;
  color: #4B4B4B;
}