.section_frame {
    display: flex;
    justify-content: center;
}

.section_container {
    margin: 80px 0;
    width: 720px;
    min-height: 460px;
}

.section_container a {
    text-decoration: none;
    color:blue;
}