.header_img {
    top: 0;
    left: 0;
    margin: 0;
    background-image: url('../assets/images/Genji_emaki_azumaya.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    height: 94vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

.container {
    position: relative;
    height: 18vh;
    width: 100%;
}

.boundary {
    display: flex;
    flex-direction: column;
    text-align: center;
    color: white;
}
.boundary h1 {
    width: 100%;
    margin: 0;
    padding-top: 0.75rem;
    padding-bottom: 1.25rem;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}
.boundary h3 {
    width: 100%;
    margin: 0;
    padding-top: 0.75rem;
    padding-bottom: 1.25rem;
    color: white;
    text-shadow: 2px 2px 4px #000000;
}