@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&family=Newsreader:ital,wght@0,400;0,600;1,400;1,600&display=swap');

.navFrame {
    width: 1440px;
    height: 70px;
    box-sizing: border-box;
    background-color: #737373;
    position: sticky;
    top: 0;
    z-index: 100;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
}

.navContainer {
    display: flex;
    align-items: center;
    width: 1440px;
    height: 70px;
    justify-content: space-between;
}

.navLinksWrapper {
    display: flex;
    align-items: center;

}

.logoContainer {
    position: relative;
    display: flex;
    align-items: center;

}

.logoLink {
    position: relative;
    display: flex;
    align-items: center;
    text-decoration: none;
}

.logo {
    position: relative;
    top: -5px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.navLinks {
    display: flex;
    align-items: center;
    justify-content: flex-end;
    height: 100%;
    gap: 48px;
}

.navLinks a, 
.navLinks span,
.dropdownWrapper > div > span,
.searchButton,
.charactersButton,
.moreButton {
    width: 134px;
    height: 27px;
    font-family: 'Lexend', sans-serif;
    text-decoration: none;
    font-size: 18px;
    font-weight: 600;
    color: #c49c3e;
    line-height: 150%;
    letter-spacing: 0.1em;
    vertical-align: middle;
    transition: color 0.3s ease;
    cursor: pointer;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 0;
    margin: 0;
    white-space: nowrap;
    margin-top: 20px;
}

.navLinks a.characterLink,
.navLinks a.moreLink,
.navLinks a.searchLink {
    font-size: 13px;
    text-align: left;
    justify-content: flex-start;
}

.navLinks a:hover, 
.navLinks span:hover,
.dropdownWrapper > div > span:hover {
    color: #ffffff;
}

.dropdownWrapper {
    position: relative;
    display: flex;
    align-items: center;
    height: 100%;
}

.userControls {
    display: flex;
    align-items: center;
    height: 100%;
    gap: 16px;
}

