.userContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
  position: relative;
  margin-right: 16px;
  margin-top: 20px;
}
  
.userLink {
  text-decoration: none;
  color: #c49c3e;
  font-weight: 600;
  font-size: 18px;
  transition: color 0.3s ease;
  white-space: nowrap;
  margin-right: 30px;
}

.userLink:hover {
  color: #ffffff;
}

.signInButton {
  white-space: nowrap; 
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  background-color: #c49c3e;
  color: white;
  transition: all 0.3s ease;
  position: relative;
  margin-right: 30px;
  margin-left: 30px;
  margin-top: 20px;
}

.signInButton:hover {
  background-color: #b48c2e; 
  transform: translateY(-1px);
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.2);
}

.button {
  padding: 8px 16px;
  border-radius: 20px;
  background-color: #f1f1f1;
  color: #666;
  font-size: 0.9em;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}

@media (min-width: 1400px) {
  .userContainer {
    margin-right: 20px;
  }
}

@media (min-width: 1200px) and (max-width: 1399px) {
  .userContainer {
    margin-right: 18px;
  }
}

@media (max-width: 1200px) {
  .userContainer {
    margin-right: -10px;
    margin-top: 18px;
  }
  
  
  .signInButton {
    padding: 8px 15px;
    font-size: 0.95rem;
    margin-right: 25px;
    margin-left: 25px;
    margin-top: 18px;
  }
}

@media (max-width: 1024px) {
  .userContainer {
    margin-right: 12px;
    gap: 8px;
  }
  
  .userLink {
    font-size: 15px;
    margin-right: 20px;
  }
  
  .signInButton {
    padding: 7px 14px;
    font-size: 0.9rem;
    margin-right: 20px;
    margin-left: 20px;
  }
}

@media (max-width: 900px) {
  .userContainer {
    margin-right: 10px;
  }
  
  .userLink {
    font-size: 14px;
    margin-right: 15px;
  }
  
  .signInButton {
    padding: 6px 12px;
    font-size: 0.85rem;
    margin-right: 15px;
    margin-left: 15px;
  }
}

