@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;500;600;700&family=Newsreader:ital,wght@0,400;0,600;1,400;1,600&display=swap');

.userContainer {
  display: flex;
  align-items: center;
  gap: 10px;
  height: 100%;
  position: relative;
  margin-right: 16px;
  margin-top: 20px;
}
  
.userLink {
  font-family: 'Lexend', sans-serif;
  text-decoration: none;
  color: #EDB940;
  font-weight: 600;
  font-size: 18px;
  transition: color 0.3s ease;
  white-space: nowrap;
  margin-right: 20px;
}

.userLink:hover,
.userLink.active {
  color: #ffffff;
}

.signInButton {
  font-family: 'Lexend', sans-serif;
  white-space: nowrap; 
  display: inline-flex;
  align-items: center;
  justify-content: center;
  padding: 8px 16px;
  border: none;
  border-radius: 20px;
  cursor: pointer;
  font-size: 1rem;
  font-weight: 500;
  color: white;
  transition: all 0.3s ease;
  position: relative;
  margin-right: 30px;
  margin-left: 20px;
  margin-top: 20px;
  opacity: 0.5;
}

.signInButton:hover {
  transform: translateY(-1px);
}

.signInButton.active {
  color: #ffffff;
}

.button {
  padding: 8px 16px;
  border-radius: 20px;
  background-color: #f1f1f1;
  color: #666;
  font-size: 0.9em;
  animation: pulse 1.5s infinite;
}

@keyframes pulse {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
  }
}
